# Activate plugins listed by `asdf current`
use asdf

# If present, load AWS Sierra account’s credentials
[[ -f .env-exports ]] \
    && source .env-exports

# 💡To trust this file run
#
# $ asdf exec direnv allow .envrc
#
